@{
    //Html.AddStyle("~/css/main_styles.css");
    Html.AddStyle("~/css/responsive.css");

    Html.AddScript(ResourceLocation.Footer, "~/scripts/custom.js");
}

<!-- Slider -->
<div class="main_slider" style="background-image:url(/images/slider_1.jpg)">
    <div class="container fill_height">
        <div class="row align-items-center fill_height">
            <div class="col">
                <div class="main_slider_content">
                    <h6>Spring / Summer Collection 2017</h6>
                    <h1>Get up to 30% Off New Arrivals</h1>
                    <div class="red_button shop_now_button"><a href="#">shop now</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("Widget", new { widgetZone = WidgetZones.HomePageTop })
@await Component.InvokeAsync("HomeCategories")
@await Component.InvokeAsync("Widget", new { widgetZone = WidgetZones.HomePageAfterCategories })
@await Component.InvokeAsync("HomeProducts")
@await Component.InvokeAsync("Widget", new { widgetZone = WidgetZones.HomePageAfterProducts })
@await Component.InvokeAsync("HomeBestSellers")
@await Component.InvokeAsync("Widget", new { widgetZone = WidgetZones.HomePageAfterBestSellers })
@await Component.InvokeAsync("HomeBlogPosts")
@await Component.InvokeAsync("Widget", new { widgetZone = WidgetZones.HomePageAfterBlogPosts })